.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px;
}

.card-hello {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 8px 16px rgb(0,0,0,0.3);
}

.card-hello img {
  border-radius: 16px 16px 0 0;
  height: 30%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-hello-info {
  padding: 16px;
  overflow: hidden;
}

.card-hello-info h2 {
  margin: 16px 0;
}

.card-hello img:hover {
  transition: height 1s ease;
  height: 70%;
}

.card-pick {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgb(0,0,0,0.3);
}

.card-pick img {
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}

.card-pick-info {
  padding: 16px;
}

.card-pick-info h2 {
  margin: 16px 0;
}

.card-pick:hover {
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgb(0,0,0,0.3);
}

.card-skills {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgb(0,0,0,0.3);
}

.card-skills-img {
  width: 100%;
  min-height: 100px;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
}

.card-skills-img h2 {
  color: white;
  margin: 0;
  text-shadow: 0 0 8px rgb(0,0,0,0.3);
}

.card-skills-info {
  overflow: hidden;
  position: relative;
  height: 200px;
}

.card-skills-info-content {
  padding: 0 32px;
}

.card-skills-info ul {
  list-style: none;
}

.card-skills-info-more {
  position: absolute;
  bottom: 0px;
  padding: 8px 0;
  width: 100%;
  background-color: rgb(240,240,240);
  cursor: pointer;
  text-align: center;
  border-radius: 0 0 4px 4px;
}

.card-skills-info.show {
  transition: height .2s ease-out, overflow 1s ease 1s;
  height: 100%;
  overflow: visible;
  background-color: white;
  box-shadow: 0 0px 16px rgb(0,0,0,0.3);
}
