.page-container {
  display: flex;
}

.page-section {
  margin-bottom: 48px;
}

.content-container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 16px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .content-container {
    width: 650px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .content-container {
    width: 500px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .content-container {
    width: 300px;
  }
}
