.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.item-drawer {
  /*fixed*/
  display: flex;
  align-items: center;
  min-width: 100%;
  /*customizable*/
  height: 120px;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

.item-drawer h2 {
  /*customizable*/
  margin: 0;
}

.item-drawer-content {
  /*fixed*/
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  /*customizable*/
  background-color: rgb(250,250,250);
  padding-left: 32px;
}

.item-drawer-settings {
  /*fixed*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 100%;
  /*customizable*/
  transition: 0.3s ease-out;
  background-color: rgb(240,240,240);
  border-radius: 0 16px 16px 0;
  font-size: 40px;
}

.item-drawer-button {
  /*fixed*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  /*customizable*/
  background-color: #a4beff;
  border-radius: 0 16px 16px 0;
  width: 40px;
  font-size: 40px;
}

.item-drawer-settings a {
  /*customizable*/
  color: rgb(40,40,40);
}

.item-drawer.active .item-drawer-settings {
  /*customizable*/
  width: 180px;
}

.item-drawer.active .item-drawer-button {
  /*fixed*/
  border-radius: 0;
}

.item-3d {
  /*fixed*/
  display: flex;
  align-items: center;
  min-width: 100%;
  /*customizable*/
  height: 120px;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

.item-3d h2 {
  /*customizable*/
  margin: 0;
}

.item-3d p {
  /*customizable*/
  margin: 0;
}

.item-3d-content {
  /*fixed*/
  flex-grow: 1;
  /*customizable*/
  background-color: rgb(250,250,250);
  padding-left: 32px;
}

.item-3d-icon {
  /*fixed*/
  position: relative;
  /*customizable*/
  width: 200px;
}

.item-3d-icon img {
  /*fixed*/
  position: absolute;
  top: 50%;
  left: 50%;
  /*customizable*/
  transform: translate(-50%, -60%);
  height: 150px;
  width: 150px;
}

.item-flip {
  /*customizable*/
  height: 120px;
}

.item-flip-inner {
  /*fixed*/
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.item-flip h2 {
  /*customizable*/
  margin: 0;
}

.item-flip p {
  /*customizable*/
  margin: 0;
}

.item-flip-front, .item-flip-back {
  /*fixed*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*customizable*/
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
  background-color: rgb(250,250,250);
}

.item-flip-content {
  padding-left: 24px;
}

.item-flip-back {
  transform: rotateX(180deg);
}

.item-flip.flipped .item-flip-inner {
  transform: rotateX(180deg);
}

/* De-activate card hover style for mobiles */
@media (min-width: 576px) {
  .item-flip:hover .item-flip-inner {
  transform: rotateX(180deg);
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .items {
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .items {
    grid-template-columns: 1fr;
  }

  .item-3d-icon img {
    transform: translate(-30%, -50%);
    height: 120px;
    width: 120px;
  }
}
